dkpro-cassis==0.7.2
pycaprio==0.2.0
click==8.1.3
requests==2.28.1
xmi2conll==0.1.2
prompt-toolkit==3.0.30
nltk==3.7
PyYAML==6.0
termcolor==2.0.1
pyfiglet==0.8.post1
numpy==1.21.6
pandas==1.3.5
scikit-learn==1.0.2
tqdm==4.64.1
lxml==4.9.1
